<div class="starter-template">
    <div class="row col-md-6 col-md-offset-3">
        <h1>{{ pageTitle }}</h1>
        <table class="table table-condensed table-hover">
            <tbody ng-form="userForm">
                <tr align="left">
                    <td>ID: </td>
                    <td>{{user.id}}</td>
                </tr>
                <tr align="left">
                    <td>Fist Name: </td>
                    <td>
                        <span ng-show="!editMode">{{user.firstName}} </span>
                        <input type="text" ng-show="editMode" ng-model="editUser.firstName" name="uFirstName" required></input>
                        <h5 class="text-danger" ng-show="!userForm.uFirstName.$valid">First name required.</h5>
                    </td>
                </tr>
                <tr align="left">
                    <td>Last Name: </td>
                    <td>
                        <span ng-show="!editMode">{{user.lastName}} </span>
                        <input type="text" ng-show="editMode" ng-model="editUser.lastName" name="uLastName" required></input>
                        <h5 class="text-danger" ng-show="!userForm.uLastName.$valid">Last name required.</h5>
                    </td>
                </tr>
                <tr align="left">
                    <td>Email: </td>
                    <td>{{user.email}}</td>
                </tr>
                <tr align="left">
                    <td>Country: </td>
                    <td>{{user.country}}</td>
                </tr>
                <tr align="left">
                    <td>Date of Birth: </td>
                    <td>{{user.dateOfBirth|date:'mediumDate'}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-if="!editMode">
            <button class="btn btn-primary" ng-if="!editMode" ng-click="onEdit()">Edit</button>
            <button class="btn btn-default" ng-if="!editMode" ui-sref="user-list">Back</button>
        </div>
        <div ng-if="editMode">
            <button class="btn btn-primary" ng-if="editMode" ng-click="onSave()" ng-disabled="!userForm.$valid">Save</button>
            <button class="btn btn-default" ng-if="editMode" ng-click="onCancel(userForm)">Cancel</button>
        </div>
    </div>
</div>

<script type="text/ng-template" id="confirmCancelEdition.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Confirm Cancel</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <p> Are you sure about it? Changes will be lost.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Yes</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
    </div>
</script>