<div class="starter-template">
    <div class="row col-md-12">
        <h1>{{ pageTitle }}</h1>
        <table class="table table-striped">
            <thead>
                <h4>
                    <span class="label label-success pull-left">
                        Selected Items: {{selectedUsers.length}}
                    </span>
                </h4>
                <div class="btn-toolbar">
                    <button class="btn btn-danger btn-xs pull-right" ng-click="deleteSelectedUsers()" ng-disabled="selectedUsers.length == 0">
                        Remove Selected Items
                    </button>
                    <button export-to-csv collection="selectedUsers" csvfilename="'users.csv'" class="btn btn-primary btn-xs pull-right" ng-disabled="selectedUsers.length == 0">
                        Download
                    </button>
                </div>
                <tr>
                    <th>Select</th>
                    <th>ID</th>
                    <th class="text-center">First Name</th>
                    <th class="text-center">Last Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Country</th>
                    <th class="text-center">Birthday</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody ng-if="users">
                <tr user-row user="user" selectedusers="selectedUsers" ng-repeat="user in users | startFrom:currentPage*pageSize | limitTo:pageSize"></tr>
            </tbody>
        </table>
        <div class="btn-group pagination">
            <button
                type="button"
                class="btn btn-default"
                ng-disabled="currentPage == 0"
                ng-click="currentPage = currentPage-1">Previous
            </button>
            <button type="button" class="btn btn-primary">{{currentPage+1}}</button>
            <button
                type="button"
                class="btn btn-default"
                ng-disabled="currentPage == lastPage"
                ng-click="currentPage = currentPage+1">Next
            </button>
        </div>
    </div>
</div>

<script type="text/ng-template" id="confirmDeleteUsers.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Confirm Delete</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <p> Are you sure about it? You will remove {{amountSelectedItems}} items.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Yes</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
    </div>
</script>