<td>
    <label class="checkbox-inline">
        <input type="checkbox" style="position: relative" ng-model="isSelected" ng-change="changeSelect()">
    </label>
</td>
<td>{{user.id}}</td>
<td>{{user.firstName}}</td>
<td>{{user.lastName}}</td>
<td>{{user.email}}</td>
<td>{{user.country}}</td>
<td>{{user.dateOfBirth | date:'mediumDate'}}</td>
<td class="text-center">
    <div class="btn-group btn-group-xs">
        <a class="btn btn-info" ng-click="show()">
            <span class="glyphicon glyphicon-zoom-in"></span> Show
        </a>
        <a  class="btn btn-success" ui-sref="user-detail({userId: user.id})">
            <span class="glyphicon glyphicon-edit"></span> Edit
        </a>
        <a class="btn btn-danger" ng-click="confirmDelete()">
            <span class="glyphicon glyphicon-remove"></span> Del
        </a>
    </div>
</td>

<script type="text/ng-template" id="showUser.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">User Detail</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <h3>{{user.firstName}} {{user.lastName}}, age: {{user.dateOfBirth|age}}</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</script>

<script type="text/ng-template" id="confirmDeleteUser.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Confirm Delete</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <p> Are you sure about remove {{user.firstName}} {{user.lastName}}?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Yes</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
