<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Hello! My name is Bruno Oliveira. </h1>
        <p class="lead">
            I am a software engineer who loves to code and learn new technologies. Web development, distributed systems and cloud computing
            are my main fields of interest.
        </p>
        <p class="lead">
            I have been working with AngularJS since 2014. I have built about 5 to 8 applications using AngularJS and Angular2+.
        </p>
        <p class="lead">Check more about me:
            <ul>
                <li>
                    <a href="https://github.com/brunoliveira8" target="_blank"><h3>Github</h3></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/tbcarnei/" target="_blank"><h3>Linkedin</h3></a>
                </li>
            </ul>
        </p>
    </div>
</div>